body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Imagem de fundo */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.portugal.gov.pt/upload/imagens/i064066.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -2; /* Fica atrás de tudo */
}

/* Overlay colorido */
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* cor + transparência */
    z-index: -1; /* Fica atrás do conteúdo mas à frente da imagem */
}

.irn-logo{
    width: 250px;
    margin: 0 auto;
}
